*{
  margin: 0px;
  border-style:none;
  font-family: 'Roboto', sans-serif;
}



.App{
  
  

height: 100vh;
width: 100vw;
}


.bg{
  height: inherit;
  width: inherit;
  background-image: url(../Resources/background/chi\ =ƒìï\ on\ Twitter\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: blur(2px);
}

.Main{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
width: 100vw;
  display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
}


.search {
  width: 50vw;
height: 8vh;
display: flex;
align-items: center;
justify-content: space-between;
background: #ffffff;
mix-blend-mode: normal;
box-shadow: 1px 4px 5px rgb(0 0 0 / 8%);
padding: 1%;

border-radius: 50px;

}
.city{
  font-family: 'Roboto';
  margin: 0.4vh;
font-style: normal;
font-weight: 300;
font-size: 4.5vh;
line-height: 56px;

color: #404040a6;

}

.searchIcon{
  height: 75% ;
  margin: 0.5vw;
  opacity: 70%;
}

.display{
  
  
  background:linear-gradient(35deg, rgb(151 151 151 / 14%) 5.38%, rgb(120 120 120 / 20%) 97.41%);
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px;
height: 80vh;
width: 80vw;
}

